name: main
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  build:
    name: Check
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - run: npm install
      - name: Validate
        uses: ./
        with:
          github_token: ${{ github.token }}
